@charset "utf-8";
/* CSS Document */

body {
	background-color:#13cbe1;
	font-family:kristen itc;
	font-size:150%;
}

h1 {
	font-size:200%;
	font-family:kristen ITC; 
	color:#ffff00;

}
h2 {
	color:#ffff00;
	
}


